spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/core_service
    username: postgres
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect



